# Python 
*.pyc
*~
--pycache--

#Env
.env 
myvenv/
venv/

#Database
db.sqlites3

# Static folder at project root 
/static/

# macOS
._*
.DS_Store
.fseventsd
.SSpotlight-V100

# Windows 
Thumbs.db#
ehthumbs*.db
[Dd}esktop.ini
$RECYCLE.BIN/

# VIsual Studio
.vscode/
.history/
*.code-workspace